$normal: #e9e2e1;
$steel: #9b9e9f;
$psychic: #f5859c;
$fighting: #f87e6c;
$flying: #99d4e3;
$poison: #a87dd7;
$rock: #c1aa94;
$bug: #c6c75c;
$ghost: #a9a4c9;
$fire: #f5533b;
$water: #5b99d4;
$grass: #8ebf71;
$electric: #fbb752;
$ice: #a3e5f0;
$dragon: #7a6cde;
$dark: #312d2c;
$fairy: #f6bbb7;
$ground: #996340;
